.HeatMapSymbology {
  width: 150px;
  margin-top: 10px;
}

.HeatMapSymbology .gradient {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid var(--heat-map-symbology-gradient-border-bottom);
  opacity: 0.7;
}

.HeatMapSymbology .values {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  letter-spacing: 0.025em;
  color: var(--heat-map-symbology-values-color);
  position: relative;
  background: var(--heat-map-symbology-values-bg);
}

.HeatMapSymbology .values .min {
  border-left: 1px solid var(--heat-map-symbology-values-min-border-left);
  padding-left: 5px;
  padding-top: 5px;
}

.HeatMapSymbology .values .max {
  border-right: 1px solid var(--heat-map-symbology-values-max-border-right);
  padding-right: 5px;
  padding-top: 5px;
}

.HeatMapSymbology .values .mid {
  border-right: 1px solid var(--heat-map-symbology-values-mid-border-right);
  position: absolute;
  top: 0;
  left: 50%;
  height: 13px;
}
