.HeatMapSymbology {
  width: 150px;
  margin-top: 10px;
}

.HeatMapSymbology .gradient {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0.7;
}

.HeatMapSymbology .values {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  letter-spacing: 0.025em;
  color: white;
  position: relative;
  background: rgba(18, 23, 26, 0.5);
}

.HeatMapSymbology .values .min {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  padding-top: 5px;
}

.HeatMapSymbology .values .max {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 5px;
  padding-top: 5px;
}

.HeatMapSymbology .values .mid {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  height: 13px;
}
