@import '@wojtekmaj/react-datetimerange-picker/dist/DateTimeRangePicker.css';
@import './react-calendar-overrides.css';
@import 'react-clock/dist/Clock.css';

label {
  position: relative;
  top: 2px;
}

/* Date Range Picker */

.datePickerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reactDatePicker {
  width: 50%;
}

.datePicker {
  font-size: 14px;
  min-width: 150px;
}

.datePicker label {
  font-size: 16px;
}

.datePicker label span svg {
  height: 16px;
  width: 16px;
  position: relative;
  top: 1px;
  left: 4px;
  margin-right: 10px;
}

.datePicker .react-tooltip {
  font-weight: normal;
  line-height: 1.6;
}

.dateToolTipIcon {
  cursor: pointer;
}

span.error-true {
  color: #bc3131;
}

.react-calendar {
  width: 270px;
}

#dateRange-tooltip {
  opacity: 1;
  z-index: 999;
}
