.collectionDropdown .MuiInput-underline:before {
  border-color: #76829c;
}

.collectionDropdown svg {
  color: rgba(255, 255, 255, 0.5);
}

#collectionDropdown {
  border-color: white;
  color: white;
  background-color: #12171a;
}

#collectionDropdown option {
  background-color: #12171a !important;
}

.collectionDropdown.error-true select {
  color: #bc3131 !important;
  font-weight: bold;
  border-bottom: 1px solid #bc3131;
}

.collectionDropdown div[label='Collection'] {
  top: -2.5px;
  padding-top: 1px;
  min-width: 100%;
}

.collectionRangeText {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
}
