PUBLIC_URL=http://example.com/
REACT_APP_LOGO_URL=https://example.com/logo.png
REACT_APP_LOGO_ALT="Alt description for my custom logo"
REACT_APP_DASHBOARD_BTN_URL=https://dashboard.example.com
REACT_APP_ANALYZE_BTN_URL=https://analyze.example.com
REACT_APP_SHOW_PUBLISH_BTN=false
REACT_APP_STAC_API_URL=https://api-endpoint.example.com
REACT_APP_DEFAULT_COLLECTION=collection-name
REACT_APP_SCENE_TILER_URL=https://titiler.example.com
REACT_APP_SCENE_TILER_PARAMS={ "sentinel-2-l2a": { "assets": [ "visual" ] }, "landsat-c2-l2": { "assets": [ "red", "green", "blue" ], "color_formula": "Gamma+RGB+1.7+Saturation+1.7+Sigmoidal+RGB+15+0.35" }, "naip": { "assets": [ "image" ], "bidx": "1,2,3" }, "cop-dem-glo-30": { "assets": [ "data" ], "colormap_name": "terrain", "rescale":["-1000,4000"] }, "cop-dem-glo-90": { "assets": [ "data" ], "colormap_name": "terrain", "rescale":["-1000,4000"] }, "sentinel-1-grd": { "assets": [ "vv"], "rescale": ["0,250"], "colormap_name": "plasma"} }
REACT_APP_MOSAIC_TILER_URL=https://titiler-mosaic.example.com
REACT_APP_MOSAIC_TILER_PARAMS={ "sentinel-2-l2a": { "assets": [ "visual" ] }, "landsat-c2-l2": { "assets": [ "red" ], "color_formula": "Gamma+R+1.7+Sigmoidal+R+15+0.35" }, "naip": { "assets": [ "image" ], "bidx": "1,2,3" }, "cop-dem-glo-30": { "assets": [ "data" ], "colormap_name": "terrain", "rescale":["-1000,4000"]}, "cop-dem-glo-90": { "assets": [ "data" ], "colormap_name": "terrain", "rescale":["-1000,4000"]}, "sentinel-1-grd": { "assets": [ "vv" ], "rescale": ["0,250"], "colormap_name": "plasma"} }
REACT_APP_MOSAIC_MIN_ZOOM_LEVEL=7
REACT_APP_SEARCH_MIN_ZOOM_LEVELS={ "sentinel-2-l2a": { "medium": 4, "high": 7 }, "landsat-c2-l2": { "medium": 4, "high": 7 }, "naip": { "medium": 10, "high": 14}, "cop-dem-glo-30": { "medium": 6, "high": 8 }, "cop-dem-glo-90": { "medium": 6, "high": 8 }, "sentinel-1-grd": { "medium": 4, "high": 7 }}
