.cartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 35px;
  border-radius: 6px;
  border: 1px var(--cart-button-border-disabled) solid;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: var(--cart-button-background-disabled);
  color: var(--cart-button-color-disabled);
  user-select: none;
}

.cartButtonEnabled {
  cursor: pointer;
  color: var(--cart-button-color);
  background-color: var(--cart-button-background);
  border-color: var(--cart-button-border);
}

.cartCountContainer {
  min-width: 25px;
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--cart-button-count-background-disabled);
  color: var(--cart-button-count-color-disabled);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  border-radius: 5px;
  font-weight: normal;
}

.cartCountContainerEnabled {
  background-color: var(--cart-button-count-background);
  color: var(--cart-button-count-color);
}
