.cartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-color: var(--cart-button-border);
  color: var(--cart-button-color);
  user-select: none;
}

.cartButtonEnabled {
  cursor: pointer;
  color: var(--cart-button-enabled-color);
  background-color: var(--cart-button-enabled-bg);
  border-color: var(--cart-button-enabled-border);
}

.cartCountContainer {
  min-width: 25px;
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--cart-button-count-container-bg);
  color: var(--cart-button-count-container-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  border-radius: 5px;
  font-weight: normal;
}

.cartCountContainerEnabled {
  background-color: var(--cart-button-count-container-enabled-bg);
}
