.ExportButton {
  margin: 0px 5px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadButton {
  background-color: var(--export-button-download-button-bg);
  color: var(--export-button-download-button-color);
  cursor: pointer;
  border: 1px solid var(--export-button-download-button-border);
  border-radius: 5px;
  padding: 5px 5px 3px 5px;
  height: 33px;
}
