.TopContent {
  width: 100%;
  height: 100px;
  background-color: #353d4f;
  position: relative;
  z-index: 99999;
}

.TopContent .mobileMenu {
  display: block;
}

.TopContent .mobileMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;
  font-weight: bold;
}

.TopContent .mobileMenu > * {
  padding: 1.5%;
  line-height: 40px;
  display: flex;
}

.TopContent .mobileMenu .downArrow svg {
  transition: transform 0.33s ease-in-out;
}

.TopContent.not-active .mobileMenu .downArrow svg {
  transform: rotate(0deg);
}

.TopContent.active .mobileMenu .downArrow svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 730px) {
  .TopContent {
    position: absolute;
    z-index: 9999;
  }
  .TopContent.active .Search {
    max-height: 100vh;
  }
  .TopContent.not-active .Search {
    max-height: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 1299px) {
  .TopContent {
    height: auto;
  }
}

@media screen and (min-width: 731px) {
  .TopContent .mobileMenu {
    display: none;
  }
}
