.RightContent {
  width: calc(100% - 300px);
  height: 100%;
  background-color: #12171a;
  display: flex;
  position: absolute;
  left: 300px;
}

.ZoomNotice {
  position: absolute;
  bottom: 10px;
  left: 12px;
  z-index: 6;
  background: #353d4f;
  padding: 6px 15px;
  border-radius: 2px;
  font-size: 0.75em;
  animation: fadeIn 0.45s ease-in-out 0.4s forwards;
  opacity: 0;
  display: flex;
  flex-direction: row;
}

.zoomInText {
  all: unset;
  color: #6cc24a;
  cursor: pointer;
  transition: border-color 0.33s ease-in-out;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin-left: 10px;
}

.zoomInText:hover {
  border-color: #6cc24a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actionButtons {
  position: absolute;
  z-index: 2;
  top: 11px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.actionButton {
  background-color: #6cc24a;
  color: #12171a;
  border: 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: all 0.33s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.actionButton:hover {
  background-color: #35731c;
  color: #dedede;
}

.actionButton a {
  color: #12171a;
  text-decoration: none;
}

.resultCount {
  position: absolute;
  z-index: 2;
  top: 11px;
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 8px 10px;
  border-radius: 5px;
  color: #fff;
  align-items: center;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  line-height: 1.5;
  left: 52px;
  transform: none;
}

.resultCountText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.resultCountCartText {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.resultCountButtons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.countButton {
  background-color: transparent;
  color: #a9b0c1;
  border: 1px solid #a9b0c1;
  border-radius: 5px;
  height: 28px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.33s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.countButton:hover {
  background-color: #252f36;
  color: #fff;
}

.disabledCountButton {
  color: #7f828a;
  border: 1px solid #7f828a;
  cursor: default;
}
.disabledCountButton:hover {
  color: #7f828a;
  background-color: transparent;
}

.countButtonCancelText {
  margin-right: 10px;
}

.drawGeomMessage {
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.drawGeomMessageText {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.drawGeomMessageTextTitle {
  color: #abb0c0;
  font-weight: bold;
}

.drawGeomMessageCancelButton {
  height: 32px;
  width: 75px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #a9b0c1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 30px;
}

.resultCount strong {
  color: #a9b0c1;
}

.loadingSpinnerContainer {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appLoadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(53, 61, 79);
  z-index: 99999;
  opacity: 0.75;
}

.mapAttribution {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #12171a;
  padding: 4px 6px;
}

.mapAttribution a {
  color: #19a1d7;
  text-decoration: none;
}

.mapAttribution span {
  color: #bbb;
}

.mapAttribution a:hover {
  text-decoration: underline;
}

div[data-tooltip-id='attribution-tooltip'] {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1;
  color: #a9b0c1;
}

div#attribution-tooltip {
  z-index: 999;
  white-space: nowrap;
  padding: 2px;
  background-color: #12171a;
}

.layerListButton {
  position: absolute;
  background-color: #fff;
  top: 130px;
  left: 12px;
  z-index: 1;
  height: 29px;
  width: 29px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layerListButton:hover {
  background-color: #f4f4f4;
}

.layerListButtonIcon {
  color: #555;
}

.LoadingImageryOverlayText {
  position: absolute;
  right: 10px;
  bottom: 32px;
  z-index: 10;
  background-color: #555;
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 8px 10px;
  border-radius: 5px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.LoadingImageryOverlaySpinner {
  margin-left: 8px;
}

@media screen and (max-width: 1460px) {
  .resultCount {
    left: 52px;
    transform: none;
  }
}

@media screen and (max-width: 1000px) {
  .actionButtonCTA {
    display: none;
  }
}

@media screen and (max-width: 775px) {
  .ZoomNotice {
    width: 70%;
  }
}
