.popupResultsContainer{
    height: calc(100% - 60px);
    width: 400px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: #12171A;
    padding: 10px;
    border-radius: 2px;
    color: #dedede;
    z-index: 5;
}

.popupResults{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popupFooter{
    height: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.popupFooterIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.popupFooterIcon{
    color: #dedede;
    transform: scale(1.2);
    cursor: pointer;
}

