.popupResult {
  display: flex;
  flex-direction: column;
}

.popupResultThumbnailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
  min-height: 230px;
}

.popupResultThumbnail {
  width: 225px;
}

.popupResultDetails {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.detailRow {
  width: 240px;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.popupResultDetailsRowKey {
  font-weight: bold;
  color: var(--popup-result-details-row-key-color);
}

.popupResultDetailsRowValue {
  font-size: 14px;
  word-wrap: break-word;
}

.popupResultDetailsHrefLink {
  color: var(--popup-result-details-href-link-color);
  text-decoration: underline;
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.popupResultDetailsHrefLink:hover {
  color: var(--popup-result-details-href-link-hover-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--popup-result-webkit-scrollbar-track-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--popup-result-webkit-scrollbar-thumb-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--popup-result-webkit-scrollbar-thumb-hover-bg);
}
