.uploadGeojsonModal {
  background-color: #00000070;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.uploadGeojsonModalContainerBackground {
  position: absolute;
  z-index: 1;
  height: 30%;
  width: 30%;
  min-height: 300px;
  min-width: 600px;
  max-width: 600px;
  background-color: #353d4f;
}

.uploadGeojsonModalContainer {
  position: absolute;
  z-index: 3;
  height: 30%;
  width: 30%;
  min-height: 300px;
  min-width: 600px;
  max-width: 600px;
  color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadGeojsonModalTitle {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
}
.fileToUploadText {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.uploadGeojsonModalActionButtons {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: row;
}

.uploadGeojsonModalActionButton {
  height: 32px;
  width: 50px;
  background-color: #4f5768;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #a9b0c1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 10px;
}

.uploadGeojsonModalActionButton:hover {
  background-color: #353d4f;
}

@media screen and (max-width: 1600px) {
  .uploadGeojsonDropZone {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .uploadGeojsonModalContainerBackground {
    min-width: 500px;
  }

  .uploadGeojsonModalContainer {
    min-width: 500px;
  }
}

@media screen and (max-width: 650px) {
  .uploadGeojsonModalContainerBackground {
    min-width: 80%;
  }

  .uploadGeojsonModalContainer {
    min-width: 80%;
  }
}
