.uploadGeojsonModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: var(--app-background-disabled);
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadGeojsonModalContainer {
  width: 600px;
  max-width: 80%;
  min-height: 280px;
  background: var(--map-alert-overlay-primary-background);
  color: var(--map-alert-overlay-primary-color);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadGeojsonModalTitle {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fileToUploadText {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 140px;
  width: calc(100% - 220px);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.uploadGeojsonModalActionButtons {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  bottom: 10px;
}

.uploadGeojsonModalActionButton {
  height: 32px;
  width: 50px;
  background-color: var(--side-panel-button-background);
  border: none;
  color: var(--side-panel-button-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--side-panel-button-border);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 10px;
}

.uploadGeojsonModalActionButton:hover {
  background: var(--side-panel-button-background-hover);
}

@media (max-width: 650px) {
  .fileToUploadText {
    font-size: 14px;
  }
}

.uploadGeojsonDropZone {
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  border-color: var(--map-alert-overlay-accent-color);
  background-color: var(--map-alert-overlay-secondary-background);
  color: var(--map-alert-overlay-secondary-color);
  outline: none;
  transition: border 0.24s ease-in-out;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.uploadGeojsonDropZoneFocused {
  border-color: var(--map-alert-overlay-accent-color);
}

.uploadGeojsonDropZoneAccept {
  border-color: var(--map-alert-overlay-accent-color);
}

/* Keep this after Accept so Reject wins if both apply */
.uploadGeojsonDropZoneReject {
  border-color: #ff1744;
}
