.BottomContent {
  width: 100%;
  height: calc(100% - 103px);
  background-color: #12171a;
  display: flex;
  position: relative;
}

.ZoomNotice {
  position: absolute;
  top: 54px;
  left: 52px;
  z-index: 1;
  background: #353d4f;
  padding: 6px 22px;
  border-radius: 2px;
  font-size: 0.75em;
  animation: fadeIn 0.45s ease-in-out 0.4s forwards;
  opacity: 0;
}

.ZoomNotice a {
  color: #6cc24a;
  cursor: pointer;
  transition: border-color 0.33s ease-in-out;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin-left: 10px;
}

.ZoomNotice a:hover {
  border-color: #6cc24a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actionButtons {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.actionButton {
  background-color: #6cc24a;
  color: #12171a;
  border: 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.33s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.actionButton:hover {
  background-color: #35731c;
  color: #dedede;
}

.actionButton a {
  color: #12171a;
  text-decoration: none;
}

.resultCount {
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  align-items: center;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.resultCount strong {
  color: #a9b0c1;
}

.loadingSpinnerContainer {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appLoadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(53, 61, 79);
  z-index: 99999;
  opacity: 0.75;
}

.heatMapLegend {
  width: 150px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.heatMapLegend .gradient {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgb(103, 205, 235);
  background: linear-gradient(
    90deg,
    rgba(103, 205, 235, 1) 0%,
    rgba(108, 194, 74, 1) 33%,
    rgba(233, 235, 83, 1) 66%,
    rgba(255, 148, 148, 1) 100%
  );
}

.heatMapLegend .values {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  letter-spacing: 0.025em;
  color: white;
  position: relative;
  background: rgba(18, 23, 26, 0.5);
}

.heatMapLegend .values .min {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  padding-top: 5px;
}

.heatMapLegend .values .max {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 5px;
  padding-top: 5px;
}

.heatMapLegend .values .mid {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  height: 13px;
}

@media screen and (max-width: 730px) {
  .BottomContent {
    height: calc(100% - 60px);
    margin-top: 60px;
  }

  .resultCount {
    width: 70%;
    top: 50px;
    left: 52px;
    transform: none;
  }

  .ZoomNotice {
    width: 70%;
  }
}
