@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.LeafMap {
  color: #222;
  width: 100%;
  background-color: #12171a;
  position: relative;
}

.mainMap {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.LeafMap {
  color: #222;
  width: 100%;
  background-color: lightblue;
}

.mainMap {
  height: 100%;
  width: 100%;
}

.map-tiles {
  filter: brightness(1.125) invert(1) contrast(0.9) hue-rotate(0deg) saturate(0);
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-container:focus {
  outline: none;
}
