@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.LeafMap {
  color: var(--leaf-map-color);
  width: 100%;
  background-color: var(--leaf-map-bg);
  position: relative;
}

.mainMap {
  height: 100%;
  width: 100%;
  z-index: 1;
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-container:focus {
  outline: none;
}
