@import '@wojtekmaj/react-datetimerange-picker/dist/DateTimeRangePicker';
@import './react-calendar-overrides.css';
@import 'react-clock/dist/Clock.css';

.Search {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

span.error-true {
  color: #bc3131;
}

.searchContainer {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #353d4f;
  border-right: 1px solid #757a85;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchContainer label {
  font-weight: bold;
  color: #a9b0c1;
}

.searchContainer.datePicker label {
  position: relative;
  top: 2px;
}

.searchContainer.searchButton {
  border-right: 0 none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchContainer.searchButton button {
  margin-right: 30px;
}

.autoSearchContainer {
  padding-top: 5px;
}

/* Date Range Picker */

.datePicker {
  z-index: 4;
  font-size: 16px;
}

.datePicker label a svg {
  height: 16px;
  width: 16px;
  position: relative;
  top: 1px;
  left: 4px;
  margin-right: 10px;
}

.datePicker .react-tooltip {
  font-weight: normal;
  line-height: 1.6;
}

/* Cloud Slider */

.searchContainer .MuiGrid-container {
  position: relative;
  top: 4px;
}

input[class$='-MuiInputBase-root-MuiInput-root']::before {
  border-bottom-color: #76829c !important;
}

input[class$='-MuiInputBase-input-MuiInput-input'] {
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif !important;
  color: white !important;
}

/* Leaflet Search Icon Overrides */

.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 17px !important;
  left: 15px !important;
  width: 7px !important;
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  height: 10px !important;
  width: 10px !important;
}

.leaflet-control-geosearch.leaflet-geosearch-bar {
  margin-left: 50px;
}

.tooltip_style {
  font-weight: 600;
  background-color: #6cc24a;
  border: 0 none;
  text-align: center;
  line-height: 15px;
  font-size: 1.25em;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip_style:before {
  border-top-color: #6cc24a;
}

.tooltip_style:after {
  border-bottom-color: #6cc24a;
}

.tooltip_style span {
  font-size: 0.675em;
}
