@import '@wojtekmaj/react-datetimerange-picker/dist/DateTimeRangePicker';
@import './react-calendar-overrides.css';
@import 'react-clock/dist/Clock.css';

.Search {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bboxButton {
  cursor: pointer;
  height: 80px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #353d4f;
  color: #dedede;
  border: 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.394);
  transition: all 0.33s ease-in-out;
}
.bboxButton.error-true {
  background-color: #bc3131;
}
.bboxButton:hover {
  background-color: #6cc24a;
  color: #12171a;
}

span.error-true {
  color: #bc3131;
}

.searchButton {
  cursor: pointer;
  height: 80px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6cc24a;
  color: #12171a;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.394);
  transition: all 0.33s ease-in-out;
}

.searchButton:hover {
  background-color: #35731c;
  color: #dedede;
}

.searchContainer {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #353d4f;
  border-right: 1px solid #757a85;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchContainer label {
  font-weight: bold;
  color: #a9b0c1;
}

/* Date Range Picker */

.dateTimePicker {
  margin-top: 10px;
  z-index: 4;
  font-size: 16px;
  width: 100%;
}

.react-calendar__month-view__weekdays {
  color: #333;
}

.react-datetimerange-picker__wrapper {
  border: 0 none;
}

.react-datetimerange-picker__inputGroup {
  border-bottom: 1px solid #76829c;
}

.dateTimePicker svg {
  stroke: #a9b0c1;
}

.dateTimePicker input::placeholder {
  color: #ffffff;
}

.dateTimePicker select {
  color: #353d4f;
}

.react-datetimerange-picker__inputGroup__input {
  color: white;
}

.react-datetimerange-picker__clock {
  display: none;
}
.react-datetimerange-picker__clock--open {
  display: none;
}

/* Cloud Slider */

.searchContainer .MuiGrid-container {
  position: relative;
  top: 4px;
}

input[class$='-MuiInputBase-root-MuiInput-root']::before {
  border-bottom-color: #76829c !important;
}

input[class$='-MuiInputBase-input-MuiInput-input'] {
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif !important;
  color: white !important;
}
