.viewSelector button:nth-child(1) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.viewSelector button:nth-child(2) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  left: -1px;
}

.viewSelector button {
  border: 1px solid var(--view-selector-button-border) !important;
  font-size: 12px;
  line-height: 15px;
  margin-top: 7px;
  letter-spacing: 0.05em;
}

.viewSelector div[role='group'] {
  box-shadow: none;
}

/* Material-UI Button Component Overrides */

.viewSelector .MuiButton-containedPrimary {
  background-color: var(--view-selector-button-primary-bg);
  color: var(--view-selector-button-primary-color);
}

.viewSelector .MuiButton-containedPrimary:hover {
  background-color: var(--view-selector-button-primary-hover-bg);
}

.viewSelector .MuiButton-containedSecondary {
  background-color: var(--view-selector-button-secondary-bg);
  color: var(--view-selector-button-secondary-color);
}

.viewSelector .MuiButton-containedSecondary:hover {
  background-color: var(--view-selector-button-secondary-hover-bg);
}
