.LeftContent {
  height: 100%;
  width: 300px;
  background-color: var(--left-content-bg);
}

.LeftContentTabs {
  height: 50px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LeftContentTab {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--left-content-tab-color);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: var(--left-content-tab-bg);
  cursor: pointer;
  border: none;
  border-radius: 0px;
  border-bottom: 4px solid var(--left-content-tab-border-bottom);
  border-top: 4px solid var(--left-content-tab-border-top);
  font-weight: bold;
}

.LeftContentTabSelected {
  border-bottom: 4px solid var(--left-content-tab-selected-border-bottom);
}

.LeftContentSelectedTab {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px);
}

.LeftContentHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.searchButton {
  width: 100%;
}

.ItemDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.disableSearchOverlay {
  height: 100%;
  width: 300px;
  background-color: var(--left-content-disable-search-overlay-bg);
  opacity: 0.7;
  z-index: 10;
  position: absolute;
  left: 0px;
}

.popupResultsEmptyPrimaryText {
  font-weight: bold;
  margin-bottom: 20px;
}

.popupResultsEmptySecondaryText {
  font-size: 14px;
  max-width: 80%;
}
