@import '~leaflet-draw/dist/leaflet.draw.css';

.App {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #333;
}

.leaflet-tooltip{
  font-family: 'Inter', sans-serif;
}

